# 配置示例，将文件改名为.env
# WeRead Cookie 配置
# 直接配置 Cookie (不推荐)
WEREAD_COOKIE=your_weread_cookie_here

# CookieCloud 配置 (推荐)
# CookieCloud 服务器地址
CC_URL=http://192.168.1.245:18088/
# CookieCloud 用户 ID
CC_ID=your_cookie_cloud_id
# CookieCloud 密码
CC_PASSWORD=your_cookie_cloud_password 